# Database Settings
POSTGRES_DB=parkolo_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_PORT=5432

# Backend Settings
DB_HOST=db
APP_DEBUG=true

# Frontend Settings
VITE_API_BASE_URL=http://localhost:8000
FRONTEND_PORT=5173